{% extends 'base.html' %}

{% block content %}
<div class="main-container">
  <div class="card-container">
    {% if activity %}
      <h1>Edit <span>{{activity.name}}</span></h1>
      <p>Original Date: {{ activity.date }}</p>
    {% else %}
      <h1>Add Activity</h1>
    {% endif %}
    <form action="" method="post" id="add-activity-form">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="SUBMIT!" class="create-btn" id="add-activity-btn">
    </form>

  </div>

</div>
{% endblock %}
