{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="home-container">
        <div class="home-page-container" id="home-page-container-id">
            <div id="main-slide">
                
                <div class="image-container">
                    <div class="image-content">
                        <img class='main-image' src="https://images.unsplash.com/photo-1539635278303-d4002c07eae3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                    </div>
                    <div class="image-content">
                        <img class='main-image' src="https://images.unsplash.com/photo-1519671482749-fd09be7ccebf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                    </div>
                    <div class="image-content">
                        <img class='main-image' src="https://images.unsplash.com/photo-1555817129-2fa6b81bd8e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="">
                    </div>
                </div>
                <div class="paragraph-container">
                    <div class="title-paragraph">
                        <h1 class="main-welcome-title" id="home-title">WELCOME TO PlanIt!</h1>
                        <p id="home-welcome-paragraph">
                            "Plan, Play and be Pleased"
                            <br>
                            Organize your exciting
                            <br>
                            next event with PlanIt
                        </p>

                    </div>
    
                </div>


            </div>
            {% if user.is_authenticated == False %}
            <div class="login-signup">
                <button class="create-btn"><a href="{% url 'login' %}"><span class="login-btn">LOG IN</span></a></button><br><br>
                <a href="{% url 'signup' %}" class="font-port">Sign Up</a>
            </div>
            {% else %}
            <div class="new-activity-form">
                <form action="{% url 'activities_create' %}">
                    <input type="submit" value="CREATE NEW ACTIVITY" class="create-btn">
                </form><br>
            </div>
            <div class="my-list-link">
                <form action="{% url 'my_list' %}">
                    <input type="submit" value="GO TO MY LISTS" class="create-btn">
                </form><br>
            </div>
            {% endif %}

        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(".image-container > div:gt(0)").hide();

            setInterval(function() { 
            $('.image-container > div:first')
            .fadeOut(1000)
            .next()
            .fadeIn(1000)
            .end()
            .appendTo('.image-container');
            }, 3000);
        });
    </script>

{% endblock content %}
    