body {
    background: url('/static/images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    left: 50%;
    text-align: center;
    color:white;
}

a {
    color: white;
    text-decoration: none;
}

#logo {
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    color: white;
}

nav {
    background-color: #0c0c0c99;
    width:100%;
    color: white;
}

.navbar-container {
    display: flex;
    flex-direction: column;
}

.nav-wrapper-left ul {
    display: flex;
    flex-direction: column;
}

.nav-wrapper-left ul, .nav-wrapper-right ul {
    padding: 0;
}

nav li{
    list-style: none;
    
    padding-right: 5px;
    padding-bottom: 5px;
}

.title {
    color: white;
}

.main-container {
    border-radius: 30px;
    background-color: #1d1d1d99;
    padding-bottom: 8px;
}

.card-container {
    margin: 15px;
    border-radius: 30px;
    background-color: rgba(113, 175, 198, .80);
}

#activity-create-btn {
    background-image: linear-gradient(120deg, #ddf7ff 0%, #86cfff 100%);
    box-shadow: 2px 4px 25px rgba(0,0,0,.1);
    overflow: hidden;
    padding: 10px;
    border-style: solid;
    border-radius: 30px;
}

#activity-create-btn:hover {
    background-image: linear-gradient(120deg, #43d2fd 0%, #cce5f7 100%);
    box-shadow: 4px 4px 30px rgba(0,0,0,.4);
    overflow: hidden;
}
#activity-create-btn a {
    color: rgb(11, 62, 77);
}

@media screen and (min-width: 550px){
    .navbar-container{
        flex-direction: row;
        position: relative;
    }
    .nav-wrapper-left ul {
        flex-direction: row;
    }
    .nav-wrapper-right {
        position: absolute;
        right: 15px;
    }
    nav li:first-child {
        padding-left: 30px;
    }
    nav li {
        padding-right: 15px;
    }
}