body {
    background: url('/static/images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    left: 50%;
    text-align: center;
    color:white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #86cfff;
}

#logo {
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    text-shadow: 3px 2px #000;
    color: white;
}

nav {
    background-color: #0c0c0c99;
    width:100%;
    color: white;
}

.navbar-container {
    display: flex;
    flex-direction: column;
}

.nav-wrapper-left ul {
    display: flex;
    flex-direction: column;
}

.nav-wrapper-left ul, .nav-wrapper-right ul {
    padding: 0;
}

.nav-wrapper-right ul {
    align-items: center;
    display: flex;
    flex-direction: column;
}

nav li{
    list-style: none;
    
    padding-right: 5px;
    padding-bottom: 5px;
}

main {
    margin-bottom: 40px;
}

.title {
    color: white;
}

.main-container {
    border-radius: 30px;
    background-color: #1d1d1d99;
    padding-bottom: 8px;
    margin-top: 20px;
    padding-top: 10px;
}
.home-container {
    position: relative;
    /* overflow: hidden; */
}
.home-page-container {
    position: absolute;
    left: -100px;
    border-radius: 30px;
    margin-top: 20px;
    background-color: #1d1d1d99;
    padding-top: 2vh;
    padding-bottom: 20vh;
    padding-right: auto;
    padding-left: auto;
    -webkit-animation: slide 0.15s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 0.15s forwards;
    animation-delay: 0s;
}

#home-page-container-id {
    padding: 0;
}
#main-slide {
    position: relative;
}
.paragraph-container{
    position: absolute;
    margin-left: 50%;
    transform:translateX(-50%);
    margin-right: auto;
}
.title-paragraph {
    background-color: rgba(0,0,0,.4);
    box-shadow: 0 0 50px rgba(0,0,0,1);
    border-radius: 30px;
}
#home-title {
    margin-top: -230px;
    font-size: 20px;
}
.main-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 30px;
    object-fit: cover;
    
}
.image-container {
    border-radius: 30px;
    margin: 10px auto;
    position: relative;
    width: 95%;
    height: 280px;
    box-shadow: 0 0 20px rgba(0,0,0,.7);
}

.image-container > div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.main-activity-list {
    margin: auto;
    height: 80vh;
    width: auto;
    overflow-y: auto;
    position: relative;
    border: inset grey;
    border-width: 1px;
}
.main-activity-list::-webkit-scrollbar {
    display: none;
}
footer {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
    bottom: 0;
}
@-webkit-keyframes slide {
    100% { left: 0; right: 0;}
}

@keyframes slide {
    100% { left: 0; right: 0;}
}

.card-container {
    margin: 15px;
    border-radius: 30px;
    background-color: rgba(113, 175, 198, .80);
}

#add-activity-btn, .log-in-btn {
    margin: 10px;
}

#add-activity-form table {
    margin-left: auto;
    margin-right: auto;
}
.edit-delete-container {
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.login-signup {
    margin-bottom: 30px;
}
.create-btn, .log-in-btn {
    background-image: linear-gradient(120deg, #ddf7ff 0%, #86cfff 100%);
    box-shadow: 2px 4px 25px rgba(0,0,0,.1);
    overflow: hidden;
    padding: 10px;
    border-style: solid;
    border-radius: 30px;
    color: rgb(11, 62, 77);
}

.create-btn:hover, .log-in-btn:hover {
    background-image: linear-gradient(120deg, #43d2fd 0%, #cce5f7 100%);
    box-shadow: 4px 4px 30px rgba(0,0,0,.25);
    overflow: hidden;
}

.edit-btn {
    background-image: linear-gradient(120deg, #fffedd 0%, #acff86 100%);
    box-shadow: 2px 4px 25px rgba(0,0,0,.1);
    overflow: hidden;
    padding: 10px;
    border-style: solid;
    border-radius: 30px;
    color: rgb(8, 66, 20);
}

.edit-btn:hover {
    background-image: linear-gradient(120deg, #91fc2e 0%, #f7f3cc 100%);
    box-shadow: 4px 4px 30px rgba(0,0,0,.25);
    overflow: hidden;
}

.delete-btn, .attend-btn {
    background-image: linear-gradient(120deg, #ffdde7 0%, #ff4583 100%);
    box-shadow: 2px 4px 25px rgba(0,0,0,.1);
    overflow: hidden;
    padding: 10px;
    border-style: solid;
    border-radius: 30px;
    color: rgb(85, 10, 23);
}

.delete-btn:hover, .attend-btn:hover {
    background-image: linear-gradient(120deg, #fd436b 0%, #f7ccda 100%);
    box-shadow: 4px 4px 30px rgba(0,0,0,.25);
    overflow: hidden;
}

.attend-remove-btn {
    background-image: linear-gradient(120deg, #f8ddff 0%, #5e30a8 100%);
    box-shadow: 2px 4px 25px rgba(0,0,0,.1);
    overflow: hidden;
    padding: 10px;
    border-style: solid;
    border-radius: 30px;
    color: rgb(85, 10, 23);
}

.attend-remove-btn:hover {
    background-image: linear-gradient(120deg, #a943fd 0%, #f0ccf7 100%);
    box-shadow: 4px 4px 30px rgba(0,0,0,.25);
    overflow: hidden;
}
.login-btn {
    color: rgb(11, 62, 77);
}

#map {
    height: 400px;
    border-radius: 30px;
}
  
h2 {
      color: #000;
}

.comments-container{
    width: 85%;
    margin: auto;
    padding-top: 10px;
}

.comment{
    margin-top: 5px;
    border-style: solid;
    border-color: rgb(11, 62, 77);
    border-radius: 30px;
    border-width: 2px;
    padding: 10px;
    text-align: left;
    background-color: #80c9fd;
    color: black;
}

.comment-details{
    text-align: right;
    font-size: smaller;
}

.proposals-container{
    width: 85%;
    margin: auto;
    padding-top: 10px;
}

.proposal{
    margin-top: 5px;
    border-style: solid;
    border-color: rgb(11, 62, 77);
    border-radius: 30px;
    border-width: 2px;
    padding: 10px;
    text-align: left;
}

.proposal-details{
    font-size: 12pt;
    border-radius: 30px;
    background-color: cornflowerblue;
    padding: 5px;
}

.proposal-content{
    padding-left:15px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 30px;
    background-color: white;
    color: black;
}

.proposal-time{
    padding-left:15px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 30px;
    background-color: white;
    color: black;
}

.no-time{
    display: inline-flex;
    background-color:plum;
    border-radius: 30px;
    font-size: x-small;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}

.time{
    display: inline-flex;
    background-color: rgb(84, 157, 240);
    border-radius: 30px;
    font-size: x-small;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}

.time-two{
    display: inline-flex;
    background-color: forestgreen;
    border-radius: 30px;
    font-size: x-small;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}

.time-three{
    display: inline-flex;
    background-color: palegreen;
    border-radius: 30px;
    font-size: x-small;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}

.time-four{
    display: inline-flex;
    background-color: slateblue;
    border-radius: 30px;
    font-size: x-small;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}

.time-five{
    display: inline-flex;
    background-color: hotpink;
    border-radius: 30px;
    font-size: x-small;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
}

.proposal-content-container{
    width: 85%;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(11, 62, 77);
    border-width: 2px;
    margin: auto;
    margin-top: 10px;
}

.proposal-text-box{
    width: 85%;
    padding: 10px;
}

.comment-text-box{
    width: 75%;
    padding: 10px;
    border-width: 3px;
}

.search {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.search-container {
    width: 90%;
}
.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px 0px;
    height: 20px;
    border-radius: 30px;
    color: #9DBFAF;
    }

@media screen and (min-width: 550px){
    nav {
        padding: 20px 0;
    }
    .navbar-container{
        flex-direction: row;
        position: relative;
    }
    .nav-wrapper-left ul {
        flex-direction: row;
    }
    .nav-wrapper-right {
        position: absolute;
        right: 15px;
    }

    .nav-wrapper-right ul {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
    }

    nav li:first-child {
        padding-left: 30px;
    }
    nav li {
        padding-right: 15px;
    }
    .image-container {
        height: 300px;
    }
    .navbar-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-areas:
            "wrapper-left search"
            "wrapper-left wrapper-right";
    }
    .nav-wrapper-left {
        grid-area: wrapper-left;
    }
    .search {
        grid-area: search;
        justify-content: flex-end;
        transform: translateX(-5%)
    }
    .nav-wrapper-right {
        grid-area: wrapper-right;
    }
}


@media screen and (min-width: 768px) {

    #logo {
        font-size: 70px;
        margin: 25px 0;
    }
    .content-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "activity-detail proposal-detail"
            "map-comment map-comment";
        justify-items: stretch;
        align-items: stretch;
        justify-content: center;
        align-content: start;
    }

    #activity-detail-container {
        grid-area: activity-detail;
    }

    #proposal-detail-container {
        grid-area: proposal-detail;
    }

    .map-comment-container {
        grid-area: map-comment;
    }
    .image-container {
        height: 400px;
    }
    #home-title {
        margin-top: -280px;
        font-size: 45px;
    }
    #home-welcome-paragraph {
        font-size: 25px;
    }
}

@media screen and (min-width: 1024px) {
    #logo {
        font-size: 80px;
        margin: 25px 0;
    }
    .image-container {
        height: 500px;
    }
    #home-title {
        margin-top: -330px;
    }
}

@media screen and (min-width: 1440px) {
    #logo {
        font-size: 90px;
        margin: 25px 0;
    }
    .image-container: {
        height: 600px;
    }
    #home-title {
        margin-top: -350px;
        font-size: 50px;
    }
    #home-welcome-paragraph {
        font-size: 30px;
    }
}