{% extends 'base.html' %}

{% block content %}

<div class="main-container"> 
    
    <h2 class="title">Activities</h2>
        
        <div class="card-container">
    
                <div class="activity-content-container">
                    <h3 class="activity-name">{{ activity.name }}</h3>
                    <div class="activity-description-container">
                        <p>CATEGORY: {{ activity.category }}</p>
                        <p>DATE: {{ activity.date }}</p>
                        <p>DURATION: {{ activity.duration }}</p>
                        <p>START: {{ activity.start }}</p>
                        <p>LOCATION: {{ activity.location }}</p>
                        <p>ATTENDEES: {{ activity.attendees }}</p><br>
                    </div>
                    {% if user == activity.user %}
                    <div class="button-container">
                        <div class="edit-delete-container">
                            <form action="{% url 'activities_update' activity.id %}">
                                <input type="submit" value="EDIT" class="edit-btn">
                            </form>
                            <form action="{% url 'activities_delete' activity.id %}">
                                <input type="submit" value="DELETE" class="delete-btn">
                            </form>
    
                        </div>

                    </div>
                    {% endif %}
                        
    
                </div>

                
    
        </div>

        <div class="card-container">

            <table class="striped">
                <tbody>
                  {% for proposal in activity.proposal_set.all %}
                      <br><tr>User: {{proposal.user}}</tr>
                      <br/>
                      <tr>Suggestion: {{proposal.suggestion}}</tr>
                      <br/>
                      <tr>Location: {{proposal.location}}</tr>
                      <br/><br/>
                  {% endfor %}
                </tbody>
              </table>

              <div class="activity-content-container">
                <form action="{% url 'add_proposal' activity.id %}" method="post">
                    {% csrf_token %}
                    {{ proposal_form.as_p }}
                    <input type="submit" class="create-btn" value="ADD PROPOSAL"><br><br>
                  </form>
            </div>

    </div>
    <div class="card-container">
        <div id='map'>
            <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiZ3JlZ3dlYmIiLCJhIjoiY2tyMzExajNyMjk3cDJ1cnpzc2NtZ3djYyJ9._v1_Nt8M_bbJrkC1yB7qeQ';
            let map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [{{ center }}],
                zoom: 11
            });
            map.addControl(
                new MapboxGeocoder({
                    accessToken: 'pk.eyJ1IjoiZ3JlZ3dlYmIiLCJhIjoiY2tyMzExajNyMjk3cDJ1cnpzc2NtZ3djYyJ9._v1_Nt8M_bbJrkC1yB7qeQ',
                    mapboxgl: mapboxgl
                })
                );
            map.addControl(
                new mapboxgl.
                NavigationControl());
            let marker = "";
            {% for proposal in activity.proposal_set.all %}
            marker = new mapboxgl.Marker()
            .setLngLat([{{ proposal.location }}])
            .setPopup(new mapboxgl.Popup().setHTML("<h2>{{ proposal.user.username }}</h2>"))
            .addTo(map)
            {% endfor %}
            </script>


        </div>
        <div class="card-container">

            <table class="striped">
                <tbody>
                  {% for comment in activity.comment_set.all %}
                      <br><tr>User: {{comment.user}}</tr>
                      <br/>
                      <tr>Content: {{comment.content}}</tr>
                      <br/>
                      <tr>Posted At: {{comment.created}}</tr>
                      <br/><br/>
                  {% endfor %}
                </tbody>
              </table>

              <div class="activity-content-container">
                <form action="{% url 'add_comment' activity.id %}" method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="submit" class="create-btn" value="Comment"><br><br>
                  </form>
            </div>

    </div>



    </div>


{% endblock content %}
    