{% extends 'base.html' %}

{% block content %}

<div class="main-container"> 
    
    <h2 class="title">Activities</h2>
        
        <div class="card-container">
    
                <div class="activity-content-container">
                    <h3 class="activity-name">{{ activity.name }}</h3>
                    <div class="activity-description-container">
                        <p>CATEGORY: {{ activity.category }}</p>
                        <p>DATE: {{ activity.date }}</p>
                        <p>DURATION: {{ activity.duration }}</p>
                        <p>START: {{ activity.start }}</p>
                        <p>LOCATION: {{ activity.location }}</p>
                        <p>ATTENDEES: {{ activity.attendees }}</p>
                    </div>
                    <div class="button-container">
                        <div class="edit-delete-container">
                            <form action="{% url 'activities_update' activity.id %}">
                                <input type="submit" value="EDIT" class="edit-btn">
                            </form>
                            <form action="{% url 'activities_delete' activity.id %}">
                                <input type="submit" value="DELETE" class="delete-btn">
                            </form>
    
                        </div>

                    </div>
                        
    
                </div>
    
        </div>
</div>


    


{% endblock content %}
    