{% extends 'base.html' %}

{% block content %}

<div class="main-container"> 
    
    <h2 class="title">Activities</h2>
        
        <div class="card-container">
    
                <div class="activity-content-container">
                    <h3 class="activity-name">{{ activity.name }}</h3>
                    <div class="activity-description-container">
                        <p>CATEGORY: {{ activity.category }}</p>
                        <p>DATE: {{ activity.date }}</p>
                        <p>DURATION: {{ activity.duration }}</p>
                        <p>START: {{ activity.start }}</p>
                        <p>LOCATION: {{ activity.location }}</p>
                        <p>ATTENDEES: {{ activity.attendees }}</p><br>
                    </div>
                    {% if user == activity.user %}
                    <div class="button-container">
                        <div class="edit-delete-container">
                            <form action="{% url 'activities_update' activity.id %}">
                                <input type="submit" value="EDIT" class="edit-btn">
                            </form>
                            <form action="{% url 'activities_delete' activity.id %}">
                                <input type="submit" value="DELETE" class="delete-btn">
                            </form>
    
                        </div>

                    </div>
                    {% endif %}
                        
    
                </div>

                
    
        </div>

        <div class="card-container">
            <div class="proposals-container">
                {% for proposal in activity.proposal_set.all %}
                  <div class="proposal">
                    <div class="proposal-details">{{proposal.user}}</div>
                    <div class="proposal-time">
                        Times Available:<br/>
                        {% if proposal.begin|length == 1 %}
                        <div class="time">{{proposal.begin.0}} - {{proposal.finish.0}}</div>
                        {% elif proposal.begin|length == 2 %}
                        <div class="time">{{proposal.begin.0}} - {{proposal.finish.0}}</div>
                        <div class="time-two">{{proposal.begin.1}} - {{proposal.finish.1}}</div>
                        {% elif proposal.begin|length == 3 %}
                        <div class="time">{{proposal.begin.0}} - {{proposal.finish.0}}</div>
                        <div class="time-two">{{proposal.begin.1}} - {{proposal.finish.1}}</div>
                        <div class="time-three">{{proposal.begin.2}} - {{proposal.finish.2}}</div>
                        {% elif proposal.begin|length == 4 %}
                        <div class="time">{{proposal.begin.0}} - {{proposal.finish.0}}</div>
                        <div class="time-two">{{proposal.begin.1}} - {{proposal.finish.1}}</div>
                        <div class="time-three">{{proposal.begin.2}} - {{proposal.finish.2}}</div>
                        <div class="time-four">{{proposal.begin.3}} - {{proposal.finish.3}}</div>
                        {% elif proposal.begin|length >= 5 %}
                        <div class="time">{{proposal.begin.0}} - {{proposal.finish.0}}</div>
                        <div class="time-two">{{proposal.begin.1}} - {{proposal.finish.1}}</div>
                        <div class="time-three">{{proposal.begin.2}} - {{proposal.finish.2}}</div>
                        <div class="time-four">{{proposal.begin.3}} - {{proposal.finish.3}}</div>
                        <div class="time-five">{{proposal.begin.4}} - {{proposal.finish.4}}</div>
                        {% else %}
                        <div class="no-time">{{proposal.user}} has not entered availability</div>
                        {% endif %}
                       
                    </div>
                    <div class="proposal-content">
                        Comments: <br/>{{proposal.suggestion}}
                    </div>
                  </div>
                {% endfor %}
          </div>

              <div class="proposal-content-container">
                {% if user_proposal %}
                <form action="{% url 'update_proposal_time' activity.id %}" method="POST">
                    {% csrf_token %}
                    {{ proposal_update_time_form.as_p }}
                    <input type="submit" class="create-btn" value="Add to availability"><br><br>
                </form>
                <form action="{% url 'update_proposal' activity.id %}" method="POST">
                    {% csrf_token %}
                    {{ proposal_update_form.as_p }}
                    <input type="submit" class="create-btn" value="Update my proposal"><br><br>
                </form>
                <form action="{% url 'proposals_delete' activity.id %}">
                    <input type="submit" value="Delete my proposal" class="delete-btn">
                </form>
                  {% else %}
                <form action="{% url 'add_proposal' activity.id %}" method="post">
                    {% csrf_token %}
                    {{ proposal_form.as_p }}
                    <input type="submit" class="create-btn" value="I would like to attend!"><br><br>
                  </form>
                {% endif %}
            </div>
            <br/>
    </div>
    <div class="card-container">
        <div id='map'>
            <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiZ3JlZ3dlYmIiLCJhIjoiY2tyMzExajNyMjk3cDJ1cnpzc2NtZ3djYyJ9._v1_Nt8M_bbJrkC1yB7qeQ';
            let map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [{{ center }}],
                zoom: 11
            });
            map.addControl(
                new MapboxGeocoder({
                    accessToken: 'pk.eyJ1IjoiZ3JlZ3dlYmIiLCJhIjoiY2tyMzExajNyMjk3cDJ1cnpzc2NtZ3djYyJ9._v1_Nt8M_bbJrkC1yB7qeQ',
                    mapboxgl: mapboxgl
                })
                );
            map.addControl(
                new mapboxgl.
                NavigationControl());
            let marker = "";
            {% for proposal in activity.proposal_set.all %}
            marker = new mapboxgl.Marker()
            .setLngLat([{{ proposal.location }}])
            .setPopup(new mapboxgl.Popup()
            .setHTML("<h2>{{ proposal.suggestion }} <br/><br/>  - {{ proposal.user.username }} </h2>"))
            .addTo(map)
            {% endfor %}
            </script>


        </div>
        <div class="card-container">
            <div class="comments-container">
                  {% for comment in activity.comment_set.all %}
                    <div class="comment">
                      <div class="comment-content">{{comment.content}}</div>
                      <p class="comment-details">Posted By {{comment.user}} at: {{comment.created}}</p>
                    </div>
                  {% endfor %}
            </div>

              <div class="activity-content-container">
                <form action="{% url 'add_comment' activity.id %}" method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="submit" class="create-btn" value="Comment"><br><br>
                  </form>
            </div>
        </div>



    </div>


{% endblock content %}
    