{% extends 'base.html' %}

{% block content %}
<h2>Activities</h2>

{% for activity in activities %}
    
    <div class="activity-main-container">
        <a href="{% url 'detail' activity.id %}">
            <div class="acitivity-content-container">
                <h3 class="activity-name">{{ activity.name }}</h3>
                <div class="activity-description-container">
                    <p>CATEGORY: {{ activity.category }}</p>
                    <p>DATE: {{ activity.date }}</p>
                    <p>DURATION: {{ activity.duration }}</p>
                    <p>START: {{ activity.start }}</p>
                    <p>LOCATION: {{ activity.location }}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
    
<div class="new-activity-form">


</div>

{% endblock content %}
    