body {
    background: url('/images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    left: 50%;
    text-align: center;
}